:root {
    --darkBlue: (#061130);
    --lightBlue: (#1C4BC4);
    --offWhite: (#F4F6F8);
    --yellow: (#FAFD61);
}

body {
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

* {
    outline: red 1px dotted;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: #061130;
}

button {
    background-color: unset;
    border: unset;
    background-color: #1C4BC4;
    color: white;
    border-radius: 0.5em;
    outline: unset;
}

.display-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.header-links>a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    vertical-align: middle;

}

main {

    color: white;
    background-color: #061130;
}


img {
    width: 100%;
}

.margin-remove {
    margin-block-start: unset;
    margin-block-end: unset;
}

.main-text-margin {
    margin-top: .8em;
    margin-bottom: .8em;
}

.width-45 {
    width: 45%;
}

.margin-right {
    margin-right: 3%;
}

.justify-center {
    justify-content: center;
}

.main-links {
    background-color: white;
    padding: 2em;
}

.space-evenly {
    justify-content: space-evenly;
}


footer {
    background-color: #F4F6F8;
    text-align: center;
    padding: 2em;
}

.footer-p-margin {
    margin-top: 1em;
}